{% extends 'base.html.twig' %}

{% block title %} alassilstud maroc {% endblock %}

{% block body %}
    <!-- Start Main Banner -->
    <div class="main-banner item-bg1 jarallax" data-jarallax='{"speed": 0.2}'>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span>Welcome to Semental</span>
                        <h1>Continuing Professional Development</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="#" class="btn btn-primary">Get Started <i class="icofont-simple-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Banner -->

    <!-- Start About Area -->
    <section class="about-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="assets/img/about-img.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <span>About Us</span>
                        <h2>We have 37 years of experience</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <ul>
                            <li><i class="icofont-check-circled"></i> Year round night staff</li>
                            <li><i class="icofont-check-circled"></i> World-class farriery team</li>
                            <li><i class="icofont-check-circled"></i> Complete fostering service</li>
                            <li><i class="icofont-check-circled"></i> 24hr resident veterinary care</li>
                            <li><i class="icofont-check-circled"></i> Own fleet of equine transport</li>
                            <li><i class="icofont-check-circled"></i> Quarantine and isolation facilities</li>
                            <li><i class="icofont-check-circled"></i> Full time and stud season boarders</li>
                            <li><i class="icofont-check-circled"></i> 4 purpose-built foaling units encompassing 24hr supervision</li>
                            <li><i class="icofont-check-circled"></i> On-site veterinary hospital with neo-natal intensive care unit</li>
                        </ul>

                        <a href="#" class="btn btn-primary">More About Us <i class="icofont-simple-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="horse-box1 wow fadeInLeft slow"><img src="assets/img/1.png" alt="horse"></div>
    </section>
    <!-- End About Area -->

    <!-- Start Courses Area -->
    <section class="courses-area ptb-80 bg-image">
        <div class="container">
            <div class="section-title">
                <span>Our Courses</span>
                <h2>The best courses in <br>our Stud</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="courses-slides owl-carousel owl-theme">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-courses">
                            <div class="courses-image">
                                <img src="assets/img/courses1.jpg" alt="image">
                            </div>

                            <div class="courses-content">
                                <h3><a href="#">Equestrian Training</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-courses">
                            <div class="courses-image">
                                <img src="assets/img/courses2.jpg" alt="image">
                            </div>

                            <div class="courses-content">
                                <h3><a href="#">Diploma in Equine Studies</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-courses">
                            <div class="courses-image">
                                <img src="assets/img/courses3.jpg" alt="image">
                            </div>

                            <div class="courses-content">
                                <h3><a href="#">Trainee Jockey Course</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-courses">
                            <div class="courses-image">
                                <img src="assets/img/courses2.jpg" alt="image">
                            </div>

                            <div class="courses-content">
                                <h3><a href="#">Equestrian Training</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="funfacts-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-6 col-md-3">
                        <div class="single-funfacts">
                            <h2 class="odometer" data-count="35">00</h2>
                            <p>Trainers</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 col-md-3">
                        <div class="single-funfacts">
                            <h2 class="odometer" data-count="358">00</h2>
                            <p>Students</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 col-md-3">
                        <div class="single-funfacts">
                            <h2 class="odometer" data-count="47">00</h2>
                            <p>Courses</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 col-md-3">
                        <div class="single-funfacts">
                            <h2 class="odometer" data-count="37">00</h2>
                            <p>Years of Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="horse-box2 wow fadeInLeft slow"><img src="assets/img/1.png" alt="horse"></div>
    </section>
    <!-- End Courses Area -->

    <!-- Start Stallions Area -->
    <section class="stallions-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span>Gallery</span>
                <h2>Our beautiful <br>Stallions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="stallions-slides owl-carousel owl-theme">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-stallions">
                            <img src="assets/img/horse1.jpg" alt="image">

                            <div class="stallions-content">
                                <h3><a href="#">Australia</a></h3>
                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="view-details">View Details <i class="icofont-simple-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-stallions">
                            <img src="assets/img/horse2.jpg" alt="image">

                            <div class="stallions-content">
                                <h3><a href="#">War Command</a></h3>
                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="view-details">View Details <i class="icofont-simple-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-stallions">
                            <img src="assets/img/horse3.jpg" alt="image">

                            <div class="stallions-content">
                                <h3><a href="#">Appaloosa</a></h3>
                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="view-details">View Details <i class="icofont-simple-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-stallions">
                            <img src="assets/img/horse4.jpg" alt="image">

                            <div class="stallions-content">
                                <h3><a href="#">Kingston</a></h3>
                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="view-details">View Details <i class="icofont-simple-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-stallions">
                            <img src="assets/img/horse5.jpg" alt="image">

                            <div class="stallions-content">
                                <h3><a href="#">Starspangledbanner</a></h3>
                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt.</p>
                                <a href="#" class="view-details">View Details <i class="icofont-simple-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="horse-box3 wow fadeInLeft slow"><img src="assets/img/2.png" alt="horse"></div>
        <div class="horse-box4 wow fadeInLeft slow"><img src="assets/img/3.png" alt="horse"></div>
    </section>
    <!-- End Stallions Area -->

    <!-- Start Video Area -->
    <section class="video-area ptb-80">
        <div class="container">
            <div class="video-content">
                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-play"></i></a>
                <h3>Semental is on personalised care and attention for your horses</h3>
            </div>
        </div>
    </section>
    <!-- End Video Area -->

    <!-- Start Blog Area -->
    <section class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span>Our Blog</span>
                <h2>Recent News & <br>Articles</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="#"><img src="assets/img/blog1.jpg" alt="image"></a>

                            <div class="author">
                                <a href="#">By Admin</a>
                            </div>
                        </div>

                        <div class="post-content">
                            <span>June 28, 2019</span>
                            <h3><a href="#">The world's ten most expensive stallions for 2019</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="read-more">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="#"><img src="assets/img/blog2.jpg" alt="image"></a>

                            <div class="author">
                                <a href="#">By Admin</a>
                            </div>
                        </div>

                        <div class="post-content">
                            <span>June 28, 2019</span>
                            <h3><a href="#">The world's ten most expensive stallions for 2019</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="read-more">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="#"><img src="assets/img/blog3.jpg" alt="image"></a>

                            <div class="author">
                                <a href="#">By Admin</a>
                            </div>
                        </div>

                        <div class="post-content">
                            <span>June 28, 2019</span>
                            <h3><a href="#">The world's ten most expensive stallions for 2019</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="read-more">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->

    <!-- Start Feedback Area -->
    <section class="feedback-area extra-pb ptb-80">
        <div class="container">
            <div class="section-title">
                <span>Testimonials</span>
                <h2>What customer say <br>about us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="feedback-slides owl-carousel owl-theme">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-feedback">
                            <img src="assets/img/client1.jpg" alt="image">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                            <div class="client-info">
                                <h3>Jason Statham</h3>
                                <span>Phonix, CTO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-feedback">
                            <img src="assets/img/client2.jpg" alt="image">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                            <div class="client-info">
                                <h3>Jason Smith</h3>
                                <span>Phonix, CTO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-feedback">
                            <img src="assets/img/client3.jpg" alt="image">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                            <div class="client-info">
                                <h3>Salar Taylor</h3>
                                <span>Phonix, CTO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-feedback">
                            <img src="assets/img/client2.jpg" alt="image">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                            <div class="client-info">
                                <h3>Jason Smith</h3>
                                <span>Phonix, CTO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Feedback Area -->

{% endblock %}
