{% extends 'base.html.twig' %}

{% block title %} alassilstud maroc {% endblock %}

{% block body %}
<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container-fluid">
        <!-- Start Subscribe Area -->
        <section class="subscribe-area">
            <div class="container">
                <div class="subscribe-content">
                    <h2>Subscribe to our newsleter</h2>

                    <form class="newsletter-form" data-toggle="validator">
                        <div class="form-group">
                            <input type="text" class="input-newsletter" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="input-newsletter" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="input-newsletter" placeholder="Email Address*" name="EMAIL" required autocomplete="off">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit <i class="icofont-arrow-right"></i></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>

            <div class="horse-box5"><img src="assets/img/2.png" alt="horse"></div>
            <div class="horse-box6"><img src="assets/img/3.png" alt="horse"></div>
        </section>
        <!-- End Subscribe Area -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo.png" alt="logo"></a>
                    </div>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>

                    <ul class="services-list">
                        <li><a href="#">Reproductions</a></li>
                        <li><a href="#">Agistment</a></li>
                        <li><a href="#">Hay For Sale</a></li>
                        <li><a href="#">Foaling Down</a></li>
                        <li><a href="#">Semen Freezing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>

                    <ul class="contact-info">
                        <li><span>Address:</span> 2750 Quadra Street Victoria, Canada</li>
                        <li><span>Email:</span> <a href="#">semental@gmail.com</a></li>
                        <li><span>Phone:</span> <a href="#">+44 587 154531</a></li>
                        <li><span>Fax:</span> <a href="#">+44 587 154531</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Working Hours</h3>

                    <ul class="working-hours">
                        <li><span>Monday:</span> 8AM - 6AM</li>
                        <li><span>Tuesday:</span> 8AM - 6AM</li>
                        <li><span>Wednesday:</span> 8AM - 6AM</li>
                        <li><span>Thursday - Friday:</span> 8AM - 6AM</li>
                        <li><span>Sunday:</span> Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class="icofont-copyright"></i> Copyright 2019 Semental. All Rights Reserved</p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->


{% endblock %}
