{% extends 'base.html.twig' %}

{% block title %} alassilstud maroc {% endblock %}

{% block body %}


<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="semental-mobile-nav">
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
        </div>
    </div>

    <div class="semental-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link active">Home <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="index.html" class="nav-link active">Home One</a></li>

                                <li class="nav-item"><a href="index-2.html" class="nav-link">Home Two</a></li>

                                <li class="nav-item"><a href="index-3.html" class="nav-link">Home Three</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">About Us <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="about.html" class="nav-link">About Us 1</a></li>

                                <li class="nav-item"><a href="about-2.html" class="nav-link">About Us 2</a></li>

                                <li class="nav-item"><a href="instructor.html" class="nav-link">Instructor</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Courses <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li>

                                <li class="nav-item"><a href="single-courses.html" class="nav-link">Single Courses</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Stallions <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="stallions.html" class="nav-link">Stallions</a></li>

                                <li class="nav-item"><a href="stallions-details.html" class="nav-link">Single Stallions</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Pages <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="#" class="nav-link">About Us</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about.html" class="nav-link">About Us 1</a></li>

                                        <li class="nav-item"><a href="about-2.html" class="nav-link">About Us 2</a></li>

                                        <li class="nav-item"><a href="instructor.html" class="nav-link">Instructor</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="instructor.html" class="nav-link">Instructor</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Stallions</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="stallions.html" class="nav-link">Stallions</a></li>

                                        <li class="nav-item"><a href="stallions-details.html" class="nav-link">Single Stallions</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Courses</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="courses.html" class="nav-link">Courses</a></li>

                                        <li class="nav-item"><a href="single-courses.html" class="nav-link">Single Courses</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Shop</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="shop.html" class="nav-link">Shop</a></li>

                                        <li class="nav-item"><a href="single-products.html" class="nav-link">Single Products</a></li>

                                        <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>

                                        <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>

                                <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>

                                <li class="nav-item"><a href="signup.html" class="nav-link">Signup</a></li>

                                <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error</a></li>

                                <li class="nav-item"><a href="coming-soon.html" class="nav-link">Coming Soon</a></li>

                                <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#" class="nav-link">Blog <i class="icofont-simple-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="blog-1.html" class="nav-link">Blog Grid</a></li>

                                <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Right Sidebar</a></li>

                                <li class="nav-item"><a href="single-post-1.html" class="nav-link">Blog Details 1</a></li>

                                <li class="nav-item"><a href="single-post-2.html" class="nav-link">Blog Details 2</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>

                    <div class="others-options">
                        <a href="#" class="btn btn-primary">Buy Now <i class="icofont-simple-right"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

{% endblock %}
