$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 1650px;

@media only #{$media} and ($feature_max : $value_one) {
    body {
        font-size: 14px;
    }
    .btn {
        padding: 13px 22px;
        font-size: 13px;
    }
    .ptb-80 {
        padding: {
            top: 55px;
            bottom: 55px;
        }
    }
    p {
        font-size: 14px;
    }

    .others-options {
        display: none;
    }
    
    .main-banner {
        height: 100%;
        padding: {
            top: 150px;
            bottom: 150px;
        }
    }
    .main-banner-content {
        span {
            font-size: 13px;
        }
        h1 {
            margin-bottom: 18px;
            font-size: 24px;
            line-height: 1.4;
        }
        p {
            margin-bottom: 30px;
            font-size: 13px;
        }
    }
    .slider-area {
        .tp-caption {
            &.NotGeneric-Title {
                font-size: 24px !important;
            }
            &.NotGeneric-SubTitle {
                font-size: 13px !important;
                max-width: 280px !important;
                margin: 0 auto !important;
            }
        }
        .btn {
            font-size: 13px !important;
            padding: 14px 30px !important;
        }
        .tparrows {
            visibility: visible !important;
            display: block !important;
            top: auto !important;
            bottom: 0;
        }
    }

    .section-title {
        margin-bottom: 35px;

        span {
            font-size: 13px;
        }
        h2 {
            font-size: 26px;
        }
    }

    .about-image {
        margin-bottom: 35px;
    }
    .about-content {
        span {
            font-size: 13px;

            &::before {
                display: none;
            }
        }
        h2 {
            font-size: 24px;
            margin-bottom: 13px;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }
    .about-inner-area {
        margin-top: 10px;
    }
    .single-about-inner {
        margin-top: 30px;

        .image {
            .icon {
                width: 65px;
                height: 65px;
                border-width: 2px;
                line-height: 60px;
                font-size: 30px;
                bottom: -30px;
            }
        }
        .content {
            margin-top: 50px;

            h3 {
                font-size: 19px;
            }
        }
    }

    .courses-area {
        padding-bottom: 25px;

        &.bg-color-none {
            .courses-slides {
                margin-bottom: 30px;
            }
        }
    }
    .single-courses {
        .courses-content {
            padding: 20px;

            h3 {
                font-size: 19px;
            }
            .read-more {
                font-size: 13px;
            }
        }
    }
    .courses-slides {
        margin-bottom: 55px;

        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: unset;
                    margin: 0 2px;
                    box-shadow: unset;

                    &.owl-next {
                        left: auto;
                        right: 0;
                    }
                    &:hover, &:focus {
                        background-color: #000000 !important;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }

    .single-funfacts {
        h2 {
            margin-bottom: 0;
            font-size: 38px;
        }
        p {
            font-size: 13px;
        }
    }
    
    .horse-box3 {
        display: none;
    }

    .single-stallions {
        .stallions-content {
            padding: 20px;
            max-width: unset;
            margin: {
                top: 0;
                right: 0;
            }
            h3 {
                font-size: 19px;
            }
            .view-details {
                font-size: 13px;
            }
        }
    }
    .stallions-slides {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: unset;
                    margin: 0 2px;

                    &.owl-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    .video-content {
        h3 {
            font-size: 19px;
            line-height: 1.5;
            margin-top: 25px;
        }
        .video-btn {
            width: 65px;
            height: 65px;
            line-height: 65px;
            font-size: 20px;

            &::after {
                width: 65px;
                height: 65px;
            }
        }
    }

    .blog-area {
        padding-bottom: 25px;
    }
    .single-blog-post {
        .post-content {
            span {
                font-size: 13px;
            }
            h3 {
                font-size: 19px;
                line-height: 1.4;
                margin-bottom: 10px;
            }
        }
    }

    .feedback-slides {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    position: relative;
                    left: 0 !important;
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                    transform: unset;
                    margin: 0 2px;

                    &.owl-next {
                        left: auto;
                        right: 0 !important;
                    }
                }
            }
        }
    }

    .subscribe-area {
        margin: {
            top: -165px;
            bottom: 55px;
        }
        padding: {
            top: 30px;
            bottom: 30px;
        }
        .horse-box5, .horse-box6 {
            display: none;
        }
    }
    .subscribe-content {
        padding-left: 0;

        h2 {
            text-align: center;
            font-size: 20px;
        }
        form {
            padding-bottom: 0;

            .form-group {
                float: unset;
                margin-bottom: 10px;
                width: 100%;
                padding-right: 0;
            }
            .btn {
                margin-top: 15px;
                float: unset;
                width: 100%;
            }
        }
    }

    .process-area {
        padding-bottom: 25px;
    }
    .single-process {
        margin-bottom: 30px;
        padding: {
            left: 85px;
            top: 25px;
            bottom: 28px;
        }
        &::before {
            display: none;
        }
        h3 {
            font-size: 18px;
        }
        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 25px;
        }
    }

    .instructor-area {
        padding-bottom: 15px;
    }
    .single-instructor {
        .instructor-content {
            h3 {
                font-size: 19px;
            }
        }
    }
    .instructor-slides {
        &.owl-theme {
            margin-bottom: 40px;

            .owl-nav {
                [class*=owl-] {
                    position: relative;
                    left: 0 !important;
                    top: 0;
                    transform: unset;
                    margin: 0 2px;

                    &.owl-next {
                        left: auto;
                        right: 0 !important;
                    }
                }
            }
        }
    }

    .single-events {
        .events-content {
            padding: 25px 18px;

            span {
                font-size: 13px;
            }
            h3 {
                font-size: 19px;
            }
            .read-more {
                font-size: 13px;
            }
        }
    }
    .upcoming-events-area {
        padding-bottom: 25px;
    }

    .pricing-area {
        padding-bottom: 25px;
    }
    .single-pricing {
        margin-bottom: 30px;

        .pricing-header {
            h3 {
                font-size: 19px;
            }
        }
    }

    .products-area {
        padding-bottom: 25px;
    }
    .single-products {
        .products-content {
            h3 {
                font-size: 19px;
            }
            span {
                font-size: 14px;
            }
            .add-to-cart-btn {
                font-size: 13px;
            }
        }
    }
    .products-slides {
        &.owl-theme {
            margin-bottom: 30px;

            .owl-nav {
                [class*=owl-] {
                    position: relative;
                    left: 0 !important;
                    top: 0;
                    transform: unset;
                    margin: 0 2px;

                    &.owl-next {
                        left: auto;
                        right: 0 !important;
                    }
                }
            }
        }
    }

    .funfacts-area {
        &.bg-color {
            padding-bottom: 25px;
        }
    }

    .page-title-area {
        padding: {
            top: 100px;
            bottom: 100px;
        }
    }
    .page-title-content {
        h1 {
            font-size: 30px;;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }

    .courses-details {
        .article-header {
            padding: 15px;

            h3 {
                font-size: 19px;
            }
        }
        .article-content {
            padding: 25px 15px;

            h3 {
                margin-bottom: 15px;
                font-size: 19px;
            }
        }
        .what-you-will-learn {
            li {
                font-size: 13px;
            }
        }
    }
    blockquote {
        padding: 15px 15px 15px 45px !important;

        &::before {
            left: 15px;
            top: 25px;
            font-size: 20px;
        }
    }

    .pagination-area {
        .page-numbers {
            margin: 0 2px;
        }
    }

    .tab {
        .tabs {
            display: block;

            li {
                display: block;
                border-width: 1px;

                a {
                    font-size: 14px;
                }
            }
        }
        .tabs_item {
            .horse-details {
                margin-top: 30px;

                h3 {
                    font-size: 19px;
                    margin-bottom: 15px;
                }
                .horse-info {
                    li {
                        float: unset;
                        width: 100%;
                        font-size: 13px;
                    }
                }
                .horse-pedigree {
                    li {
                        float: unset;
                        width: 100%;
                        font-size: 13px;
                    }
                }
            }
            .horse-video {
                a {
                    margin-bottom: 30px;

                    h3 {
                        margin-top: 15px;
                        font-size: 19px;
                    }
                }
            }
        }
    }

    .billing-details {
        padding: 15px;
    }
    .checkout-area {
        .title {
            font-size: 19px;
        }
    }

    .products-details {
        margin-top: 30px;

        h3 {
            font-size: 19px;
        }
        form {
            .quantity {
                display: block;
                padding-right: 0;
                margin-bottom: 15px;
            }
        }
    }

    .cart-table {
        table {
            thead {
                tr {
                    th {
                        padding: 15px 15px;
                        font-size: 14px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .cart-buttons {
        text-align: center;

        .text-right {
            text-align: center !important;
        }
        .continue-shopping-box {
            margin-bottom: 15px;
        }
    }
    .cart-totals {
        padding: 15px;

        h3 {
            font-size: 19px;
        }
    }

    .login-area {
        padding: {
            left: 15px;
            right: 15px;
            top: 150px;
            bottom: 150px;
        }
        height: 100%;
    }
    .login-form {
        max-width: 100%;
        padding: 30px 20px;

        h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        form {
            .form-group {
                .remember-me {
                    height: 100%;
                }
                .forgot-password {
                    float: left;
                    width: 100%;
                    text-align: left;
                    margin-top: 15px;
                }
            }
        }
    }

    .signup-area {
        padding: {
            left: 15px;
            right: 15px;
            top: 150px;
            bottom: 150px;
        }
        height: 100%;
    }
    .signup-form {
        max-width: 100%;
        padding: 30px 20px;

        h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        form {
            .form-group {
                .remember-me {
                    height: 100%;
                }
                .forgot-password {
                    float: left;
                    width: 100%;
                    text-align: left;
                    margin-top: 15px;
                }
            }
        }
    }
    
    .error-area {
        padding: {
            top: 150px;
            bottom: 150px;
        }
        height: 100%;
    }
    .error-content {
        margin-top: 0;

        .notfound-404 {
            height: 95px;
            margin-bottom: 20px;

            h1 {
                font-size: 75px;
            }
        }
        h3 {
            font-size: 19px;
            margin-bottom: 15px;
        }
        p {
            font-size: 13px;
        }
    }

    .coming-soon-area {
        height: 100%;
        padding: {
            top: 170px;
            bottom: 170px;
        }
        .social-list {
            bottom: 20px;
        }
    }
    .coming-soon-content {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
        form {
            .submit-btn {
                position: relative;
                right: 0;
                top: 0;
                height: 45px;
                border-radius: 40px;
                width: 130px;
                font-size: 14px;
                margin-top: 18px;
                box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(255, 255, 255, 0.3);
            }
        }
        #timer {
            div {
                width: 100px;
                height: 100px;
                margin: 0 10px;
                padding-top: 18px;
                font-size: 30px;
                margin-bottom: 25px;

                span {
                    font-size: 13px;
                }
            }
        }
    }

    .faq-accordion {
        padding: 15px;

        .accordion {
            .accordion-item {
                .accordion-title {
                    font-size: 14px;
                }
            }
        }
    }
    .faq-contact {
        padding: 15px;

        h3 {
            font-size: 19px;
        }
    }

    .blog-details {
        .article-header {
            padding: 15px;

            h3 {
                font-size: 19px;
            }
        }
        .article-content {
            padding: 20px 15px 20px;

            .entry-meta {
                li {
                    margin-right: 9px;
                    font-size: 14px;

                    i {
                        margin-right: 2px;
                    }
                }
            }
             h3 {
                font-size: 17px;
            }
        }
    }
    .post-controls-buttons {
        padding: 20px 15px;

        div {
            a {
                font-size: 14px;
            }
        }
    }
    .comments-area {
        .comments-title {
            font-size: 18px;
        }
        .comment-body {
            margin-left: 0;
        }
        .comment-author {
            .avatar {
                height: 50px;
                margin-bottom: 8px;
                left: 0;
                position: relative;
                width: 50px;
                display: block;
            }
        }
        .children {
            margin-left: 15px;
        }
        .comment-respond {
            padding: 20px 20px;

            .comment-reply-title {
                font-size: 18px;
            }
            .comment-form-author {
                width: 100%;
            }
            .comment-form-email {
                width: 100%;
                padding-left: 0;
            }
        }
    }

    .widget-area {
        margin-top: 35px;
        padding-left: 0;

        .widget {
            .widget-title {
                font-size: 19px;
            }
        }
    }

    .contact-sidebar {
        margin-top: 35px;
    }

    .single-footer-widget {
        margin-bottom: 30px;

        h3 {
            font-size: 19px;
            margin-bottom: 15px;
        }
    }
    .copyright-area {
        margin-top: 25px;
        text-align: center;

        ul {
            text-align: center;
            margin-top: 15px;
        }
    }
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {
    .others-options {
        display: none;
    }

    .main-banner {
        height: 100%;
        padding: {
            top: 150px;
            bottom: 150px;
        }
    }

    .about-image {
        text-align: center;
        margin-bottom: 30px;

        &::before {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .about-content {
        span {
            &::before {
                display: none;
            }
        }
    }

    .courses-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -15px;

                    &.owl-next {
                        left: auto;
                        right: -15px;
                    }
                }
            }
        }
    }

    .horse-box3 {
        display: none;
    }

    .stallions-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -15px;

                    &.owl-next {
                        left: auto;
                        right: -15px;
                    }
                }
            }
        }
    }

    .instructor-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -15px;

                    &.owl-next {
                        left: auto;
                        right: -15px;
                    }
                }
            }
        }
    }

    .feedback-slides {
        &.owl-theme {
            &:hover, &:focus {
                .owl-nav {
                    [class*="owl-"] {
                        left: -15px;

                        &.owl-next {
                            left: auto;
                            right: -15px;
                        }
                    }
                }
            }
        }
    }

    .products-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -15px;

                    &.owl-next {
                        left: auto;
                        right: -15px;
                    }
                }
            }
        }
    }

    .horse-box5, .horse-box6 {
        display: none;
    }

    .process-area {
        padding-bottom: 50px;
    }
    .single-process {
        &::before {
            display: none;
        }
        padding-bottom: 26px;
        margin-bottom: 30px;
    }

    .subscribe-content {
        padding-left: 0;

        form {
            .form-group {
                width: 33%;
            }
            .btn {
                float: unset;
                width: auto;
                display: inline-block;
                margin-top: 20px;
            }
        }
    }

    .about-inner-area {
        margin-top: 30px;
    }
    .single-about-inner {
        margin-top: 30px;
    }

    .single-footer-widget {
        margin-bottom: 30px;
    }
    .copyright-area {
        margin-top: 50px;
    }

    .contact-sidebar {
        margin-top: 30px;
    }

    .products-details {
        margin-top: 30px;
    }

    .widget-area {
        margin-top: 35px;
        padding-left: 0;
    }

    .horse-details {
        margin-top: 30px;
    }

    .horse-video {
        a {
            margin-bottom: 30px;
        }
    }

    .pricing-area {
        padding-bottom: 50px;
    }
    .single-pricing {
        margin-bottom: 30px;
    }
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {
    .others-options {
        display: none;
    }

    .courses-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -20px;

                    &.owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }
    .stallions-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -20px;

                    &.owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }
    .feedback-slides {
        &.owl-theme:hover {
            .owl-nav {
                [class*="owl-"] {
                    left: -20px;

                    &.owl-next {
                        left: auto;
                        right: -20px;
                    }
                }
            }
        }
    }
    .instructor-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -20px;

                    &.owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav {
                [class*="owl-"] {
                    left: -20px;

                    &.owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }

    .semental-nav {
        .navbar {
            .navbar-nav {
                .nav-item {
                    .dropdown-menu {
                        left: auto;
                        right: 0;

                        li {
                            .dropdown-menu {
                                left: auto;
                                right: 240px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only #{$media} and ($feature_min : $value_six) {
    .footer-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            }
        }
    }
    .subscribe-content {
        padding-left: 0;
    }
}

// Only For Mobile and Tab Navbar
@media only #{$media} and ($feature_max : $value_three) {
    .semental-mobile-nav {
        display: block;
        position: relative;
        padding: {
            top: 10px;
            bottom: 10px;
        }
        .logo {
            position: relative;
            z-index: 9910;
            left: 15px;
            width: 60%;

            a {
                display: inline-block;
            }
        }
    }
    .semental-nav {
        display: none !important;
    }
}