@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .btn {
    padding: 13px 22px;
    font-size: 13px;
  }
  .ptb-80 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  p {
    font-size: 14px;
  }
  .others-options {
    display: none;
  }
  .main-banner {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .main-banner-content span {
    font-size: 13px;
  }
  .main-banner-content h1 {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 1.4;
  }
  .main-banner-content p {
    margin-bottom: 30px;
    font-size: 13px;
  }
  .slider-area .tp-caption.NotGeneric-Title {
    font-size: 24px !important;
  }
  .slider-area .tp-caption.NotGeneric-SubTitle {
    font-size: 13px !important;
    max-width: 280px !important;
    margin: 0 auto !important;
  }
  .slider-area .btn {
    font-size: 13px !important;
    padding: 14px 30px !important;
  }
  .slider-area .tparrows {
    visibility: visible !important;
    display: block !important;
    top: auto !important;
    bottom: 0;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .section-title span {
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 26px;
  }
  .about-image {
    margin-bottom: 35px;
  }
  .about-content span {
    font-size: 13px;
  }
  .about-content span::before {
    display: none;
  }
  .about-content h2 {
    font-size: 24px;
    margin-bottom: 13px;
  }
  .about-content ul li {
    font-size: 13px;
  }
  .about-inner-area {
    margin-top: 10px;
  }
  .single-about-inner {
    margin-top: 30px;
  }
  .single-about-inner .image .icon {
    width: 65px;
    height: 65px;
    border-width: 2px;
    line-height: 60px;
    font-size: 30px;
    bottom: -30px;
  }
  .single-about-inner .content {
    margin-top: 50px;
  }
  .single-about-inner .content h3 {
    font-size: 19px;
  }
  .courses-area {
    padding-bottom: 25px;
  }
  .courses-area.bg-color-none .courses-slides {
    margin-bottom: 30px;
  }
  .single-courses .courses-content {
    padding: 20px;
  }
  .single-courses .courses-content h3 {
    font-size: 19px;
  }
  .single-courses .courses-content .read-more {
    font-size: 13px;
  }
  .courses-slides {
    margin-bottom: 55px;
  }
  .courses-slides.owl-theme .owl-nav [class*=owl-] {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 2px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .courses-slides.owl-theme .owl-nav [class*=owl-].owl-next {
    left: auto;
    right: 0;
  }
  .courses-slides.owl-theme .owl-nav [class*=owl-]:hover, .courses-slides.owl-theme .owl-nav [class*=owl-]:focus {
    background-color: #000000 !important;
    color: #ffffff !important;
  }
  .single-funfacts h2 {
    margin-bottom: 0;
    font-size: 38px;
  }
  .single-funfacts p {
    font-size: 13px;
  }
  .horse-box3 {
    display: none;
  }
  .single-stallions .stallions-content {
    padding: 20px;
    max-width: unset;
    margin-top: 0;
    margin-right: 0;
  }
  .single-stallions .stallions-content h3 {
    font-size: 19px;
  }
  .single-stallions .stallions-content .view-details {
    font-size: 13px;
  }
  .stallions-slides.owl-theme .owl-nav [class*=owl-] {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 2px;
  }
  .stallions-slides.owl-theme .owl-nav [class*=owl-].owl-next {
    left: auto;
    right: 0;
  }
  .video-content h3 {
    font-size: 19px;
    line-height: 1.5;
    margin-top: 25px;
  }
  .video-content .video-btn {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 20px;
  }
  .video-content .video-btn::after {
    width: 65px;
    height: 65px;
  }
  .blog-area {
    padding-bottom: 25px;
  }
  .single-blog-post .post-content span {
    font-size: 13px;
  }
  .single-blog-post .post-content h3 {
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .feedback-slides.owl-theme .owl-nav [class*=owl-] {
    position: relative;
    left: 0 !important;
    opacity: 1;
    visibility: visible;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 2px;
  }
  .feedback-slides.owl-theme .owl-nav [class*=owl-].owl-next {
    left: auto;
    right: 0 !important;
  }
  .subscribe-area {
    margin-top: -165px;
    margin-bottom: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .subscribe-area .horse-box5, .subscribe-area .horse-box6 {
    display: none;
  }
  .subscribe-content {
    padding-left: 0;
  }
  .subscribe-content h2 {
    text-align: center;
    font-size: 20px;
  }
  .subscribe-content form {
    padding-bottom: 0;
  }
  .subscribe-content form .form-group {
    float: unset;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 0;
  }
  .subscribe-content form .btn {
    margin-top: 15px;
    float: unset;
    width: 100%;
  }
  .process-area {
    padding-bottom: 25px;
  }
  .single-process {
    margin-bottom: 30px;
    padding-left: 85px;
    padding-top: 25px;
    padding-bottom: 28px;
  }
  .single-process::before {
    display: none;
  }
  .single-process h3 {
    font-size: 18px;
  }
  .single-process .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
  }
  .instructor-area {
    padding-bottom: 15px;
  }
  .single-instructor .instructor-content h3 {
    font-size: 19px;
  }
  .instructor-slides.owl-theme {
    margin-bottom: 40px;
  }
  .instructor-slides.owl-theme .owl-nav [class*=owl-] {
    position: relative;
    left: 0 !important;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 2px;
  }
  .instructor-slides.owl-theme .owl-nav [class*=owl-].owl-next {
    left: auto;
    right: 0 !important;
  }
  .single-events .events-content {
    padding: 25px 18px;
  }
  .single-events .events-content span {
    font-size: 13px;
  }
  .single-events .events-content h3 {
    font-size: 19px;
  }
  .single-events .events-content .read-more {
    font-size: 13px;
  }
  .upcoming-events-area {
    padding-bottom: 25px;
  }
  .pricing-area {
    padding-bottom: 25px;
  }
  .single-pricing {
    margin-bottom: 30px;
  }
  .single-pricing .pricing-header h3 {
    font-size: 19px;
  }
  .products-area {
    padding-bottom: 25px;
  }
  .single-products .products-content h3 {
    font-size: 19px;
  }
  .single-products .products-content span {
    font-size: 14px;
  }
  .single-products .products-content .add-to-cart-btn {
    font-size: 13px;
  }
  .products-slides.owl-theme {
    margin-bottom: 30px;
  }
  .products-slides.owl-theme .owl-nav [class*=owl-] {
    position: relative;
    left: 0 !important;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 2px;
  }
  .products-slides.owl-theme .owl-nav [class*=owl-].owl-next {
    left: auto;
    right: 0 !important;
  }
  .funfacts-area.bg-color {
    padding-bottom: 25px;
  }
  .page-title-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-title-content h1 {
    font-size: 30px;
  }
  .page-title-content ul li {
    font-size: 13px;
  }
  .courses-details .article-header {
    padding: 15px;
  }
  .courses-details .article-header h3 {
    font-size: 19px;
  }
  .courses-details .article-content {
    padding: 25px 15px;
  }
  .courses-details .article-content h3 {
    margin-bottom: 15px;
    font-size: 19px;
  }
  .courses-details .what-you-will-learn li {
    font-size: 13px;
  }
  blockquote {
    padding: 15px 15px 15px 45px !important;
  }
  blockquote::before {
    left: 15px;
    top: 25px;
    font-size: 20px;
  }
  .pagination-area .page-numbers {
    margin: 0 2px;
  }
  .tab .tabs {
    display: block;
  }
  .tab .tabs li {
    display: block;
    border-width: 1px;
  }
  .tab .tabs li a {
    font-size: 14px;
  }
  .tab .tabs_item .horse-details {
    margin-top: 30px;
  }
  .tab .tabs_item .horse-details h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .tab .tabs_item .horse-details .horse-info li {
    float: unset;
    width: 100%;
    font-size: 13px;
  }
  .tab .tabs_item .horse-details .horse-pedigree li {
    float: unset;
    width: 100%;
    font-size: 13px;
  }
  .tab .tabs_item .horse-video a {
    margin-bottom: 30px;
  }
  .tab .tabs_item .horse-video a h3 {
    margin-top: 15px;
    font-size: 19px;
  }
  .billing-details {
    padding: 15px;
  }
  .checkout-area .title {
    font-size: 19px;
  }
  .products-details {
    margin-top: 30px;
  }
  .products-details h3 {
    font-size: 19px;
  }
  .products-details form .quantity {
    display: block;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .cart-table table thead tr th {
    padding: 15px 15px;
    font-size: 14px;
    white-space: nowrap;
  }
  .cart-buttons {
    text-align: center;
  }
  .cart-buttons .text-right {
    text-align: center !important;
  }
  .cart-buttons .continue-shopping-box {
    margin-bottom: 15px;
  }
  .cart-totals {
    padding: 15px;
  }
  .cart-totals h3 {
    font-size: 19px;
  }
  .login-area {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
  }
  .login-form {
    max-width: 100%;
    padding: 30px 20px;
  }
  .login-form h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .login-form form .form-group .remember-me {
    height: 100%;
  }
  .login-form form .form-group .forgot-password {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }
  .signup-area {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
  }
  .signup-form {
    max-width: 100%;
    padding: 30px 20px;
  }
  .signup-form h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .signup-form form .form-group .remember-me {
    height: 100%;
  }
  .signup-form form .form-group .forgot-password {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }
  .error-area {
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
  }
  .error-content {
    margin-top: 0;
  }
  .error-content .notfound-404 {
    height: 95px;
    margin-bottom: 20px;
  }
  .error-content .notfound-404 h1 {
    font-size: 75px;
  }
  .error-content h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .error-content p {
    font-size: 13px;
  }
  .coming-soon-area {
    height: 100%;
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .coming-soon-area .social-list {
    bottom: 20px;
  }
  .coming-soon-content h1 {
    font-size: 30px;
  }
  .coming-soon-content p {
    font-size: 14px;
  }
  .coming-soon-content form .submit-btn {
    position: relative;
    right: 0;
    top: 0;
    height: 45px;
    border-radius: 40px;
    width: 130px;
    font-size: 14px;
    margin-top: 18px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(255, 255, 255, 0.3);
  }
  .coming-soon-content #timer div {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    padding-top: 18px;
    font-size: 30px;
    margin-bottom: 25px;
  }
  .coming-soon-content #timer div span {
    font-size: 13px;
  }
  .faq-accordion {
    padding: 15px;
  }
  .faq-accordion .accordion .accordion-item .accordion-title {
    font-size: 14px;
  }
  .faq-contact {
    padding: 15px;
  }
  .faq-contact h3 {
    font-size: 19px;
  }
  .blog-details .article-header {
    padding: 15px;
  }
  .blog-details .article-header h3 {
    font-size: 19px;
  }
  .blog-details .article-content {
    padding: 20px 15px 20px;
  }
  .blog-details .article-content .entry-meta li {
    margin-right: 9px;
    font-size: 14px;
  }
  .blog-details .article-content .entry-meta li i {
    margin-right: 2px;
  }
  .blog-details .article-content h3 {
    font-size: 17px;
  }
  .post-controls-buttons {
    padding: 20px 15px;
  }
  .post-controls-buttons div a {
    font-size: 14px;
  }
  .comments-area .comments-title {
    font-size: 18px;
  }
  .comments-area .comment-body {
    margin-left: 0;
  }
  .comments-area .comment-author .avatar {
    height: 50px;
    margin-bottom: 8px;
    left: 0;
    position: relative;
    width: 50px;
    display: block;
  }
  .comments-area .children {
    margin-left: 15px;
  }
  .comments-area .comment-respond {
    padding: 20px 20px;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 18px;
  }
  .comments-area .comment-respond .comment-form-author {
    width: 100%;
  }
  .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .widget-area {
    margin-top: 35px;
    padding-left: 0;
  }
  .widget-area .widget .widget-title {
    font-size: 19px;
  }
  .contact-sidebar {
    margin-top: 35px;
  }
  .single-footer-widget {
    margin-bottom: 30px;
  }
  .single-footer-widget h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .copyright-area {
    margin-top: 25px;
    text-align: center;
  }
  .copyright-area ul {
    text-align: center;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .others-options {
    display: none;
  }
  .main-banner {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .about-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .about-image::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about-content span::before {
    display: none;
  }
  .courses-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .courses-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -15px;
  }
  .horse-box3 {
    display: none;
  }
  .stallions-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .stallions-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -15px;
  }
  .instructor-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .instructor-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -15px;
  }
  .feedback-slides.owl-theme:hover .owl-nav [class*="owl-"], .feedback-slides.owl-theme:focus .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .feedback-slides.owl-theme:hover .owl-nav [class*="owl-"].owl-next, .feedback-slides.owl-theme:focus .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -15px;
  }
  .products-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -15px;
  }
  .products-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -15px;
  }
  .horse-box5, .horse-box6 {
    display: none;
  }
  .process-area {
    padding-bottom: 50px;
  }
  .single-process {
    padding-bottom: 26px;
    margin-bottom: 30px;
  }
  .single-process::before {
    display: none;
  }
  .subscribe-content {
    padding-left: 0;
  }
  .subscribe-content form .form-group {
    width: 33%;
  }
  .subscribe-content form .btn {
    float: unset;
    width: auto;
    display: inline-block;
    margin-top: 20px;
  }
  .about-inner-area {
    margin-top: 30px;
  }
  .single-about-inner {
    margin-top: 30px;
  }
  .single-footer-widget {
    margin-bottom: 30px;
  }
  .copyright-area {
    margin-top: 50px;
  }
  .contact-sidebar {
    margin-top: 30px;
  }
  .products-details {
    margin-top: 30px;
  }
  .widget-area {
    margin-top: 35px;
    padding-left: 0;
  }
  .horse-details {
    margin-top: 30px;
  }
  .horse-video a {
    margin-bottom: 30px;
  }
  .pricing-area {
    padding-bottom: 50px;
  }
  .single-pricing {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .others-options {
    display: none;
  }
  .courses-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -20px;
  }
  .courses-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    right: -20px;
  }
  .stallions-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -20px;
  }
  .stallions-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    right: -20px;
  }
  .feedback-slides.owl-theme:hover .owl-nav [class*="owl-"] {
    left: -20px;
  }
  .feedback-slides.owl-theme:hover .owl-nav [class*="owl-"].owl-next {
    left: auto;
    right: -20px;
  }
  .instructor-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -20px;
  }
  .instructor-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    right: -20px;
  }
  .products-slides.owl-theme .owl-nav [class*="owl-"] {
    left: -20px;
  }
  .products-slides.owl-theme .owl-nav [class*="owl-"].owl-next {
    right: -20px;
  }
  .semental-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    left: auto;
    right: 0;
  }
  .semental-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: auto;
    right: 240px;
  }
}

@media only screen and (min-width: 1650px) {
  .footer-area .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .subscribe-content {
    padding-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .semental-mobile-nav {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .semental-mobile-nav .logo {
    position: relative;
    z-index: 9910;
    left: 15px;
    width: 60%;
  }
  .semental-mobile-nav .logo a {
    display: inline-block;
  }
  .semental-nav {
    display: none !important;
  }
}
/*# sourceMappingURL=responsive.css.map */