<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block stylesheets %}
        <!-- Css Files -->
            <link rel="stylesheet" href="assets/revolution/css/settings.css">
            <link rel="stylesheet" href="assets/revolution/css/layers.css">
            <link rel="stylesheet" href="assets/revolution/css/navigation.css">

            <!-- Bootstrap Min CSS -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <!-- Animate Min CSS -->
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <!-- IcoFont Min CSS -->
            <link rel="stylesheet" href="assets/css/icofont.min.css">
            <!-- Odometer Min CSS -->
            <link rel="stylesheet" href="assets/css/odometer.min.css">
            <!-- Owl Carousel Min CSS -->
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <!-- Magnific Popup Min CSS -->
            <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
            <!-- MeanMenu CSS -->
            <link rel="stylesheet" href="assets/css/meanmenu.css">
            <!-- Style CSS -->
            <link rel="stylesheet" href="assets/css/style.css">
            <!-- Responsive CSS -->
            <link rel="stylesheet" href="assets/css/responsive.css">
            <link rel="icon" type="image/png" href="assets/img/favicon.png">
        {% endblock %}
    </head>
    <body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="loader">
            <img src="assets/img/preloader.gif" alt="preloader">

            <h2>Loading...</h2>
        </div>
    </div>
    <!-- End Preloader Area -->

    {% include 'components/front-office/header.html.twig' %}


    {% block body %}{% endblock %}


    {% include 'components/front-office/footer.html.twig' %}
    <div class="go-top"><i class="icofont-swoosh-up"></i><i class="icofont-swoosh-up"></i></div>

    {% block javascripts %}
        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- MeanMenu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Appear Min JS -->
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Parallax min JS -->
        <script src="assets/js/parallax.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- ajaxChimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Semental Map JS FILE -->
        <script src="assets/js/semental-map.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>

        <!-- Slider Revolution core JavaScript files -->
        <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="assets/js/rev-slider-custom.js"></script>
    {% endblock %}
    </body>
</html>
